<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.BasicAuthentication">
                <methods>
                    <include name="testBasicAuthNewMethod"/>
                    <include name="testBasicAuthOldMethod"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.GeoLocation">
                <methods>
                    <include name="mockGeolocation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.LoggingDevToolsTest">
                <methods>
                    <include name="beforeClass"/>
                    <include name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.MultipleBrowserWindows">
                <methods>
                    <include name="test_open_new_tab"/>
                    <include name="test_open_new_window"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.PageScreenshot">
                <methods>
                    <include name="takeFullPageScreenshot"/>
                    <include name="takePageScreenshot"/>
                    <include name="takeElementScreenshot"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.RelativeLocators">
                <methods>
                    <include name="testRelativeLocator_Below"/>
                    <include name="testMultipleRelativeLocators_AboveToRightOf"/>
                    <include name="testRelativeLocator_FindListOfWebElements"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.SlowNetworkTests">
                <methods>
                    <include name="enableSlowNetwork"/>
                    <include name="accessLinkedIn"/>
                    <include name="enableOfflineNetwork"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.UntrustedWebsite">
                <methods>
                    <include name="loadBadWebsite"/>
                    <include name="doNotLoadBadWebsite"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="selenium_4_tests">
        <classes>
            <class name="new_features.ViewConsoleLogs">
                <methods>
                    <include name="viewConsoleLogs"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>